.shopping {
  width: 100%; }
  .shopping .shopping-search {
    width: 100%;
    height: 60px;
    background: #f6f6f6;
    overflow: hidden;
    margin-top:20px; }
    .shopping .shopping-search div {
      width: 70%;
      height: 45px;
      background: #fff;
      margin-left: 10%;
      margin-top: 6px;
      display: inline-block;
      border-radius: 5px; }
      .shopping .shopping-search div .icon-search {
        font-size: 26px;
        line-height: 45px; }
      .shopping .shopping-search div input {
        width: 80%;
        height: 30px;
        border: 1px solid #fff;
        font-size: 20px;
        outline: none; }
    .shopping .shopping-search .icon-cart {
      font-size: 40px;
      line-height: 50px;
      margin-left: 15px; }
  .shopping .reactswipe {
    width: 100%; }
    .shopping .reactswipe li img {
      width: 100%;
      z-index: 100; }
  .shopping .navigatorIcon {
    padding-top: 40px;
    width: 100%; }
    .shopping .navigatorIcon li {
      width: 25%;
      display: inline-block; }
    .shopping .navigatorIcon a {
      display: inline-block;
      width: 100%;
      height: 100px;
      text-decoration: none;
      position: relative; }
      .shopping .navigatorIcon a img {
        display: inline-block;
        width: 50%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto; }
      .shopping .navigatorIcon a p {
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 10px;
        color: #878787; }
  .shopping .backgg {
    width: 100%;
    margin-top: 40px; }
    .shopping .backgg .backggA {
      width: 50%;
      float: left; }
    .shopping .backgg li {
      list-style: none;
      width: 50%;
      float: left; }
      .shopping .backgg li img {
        width: 100%; }
    .shopping .backgg .backggB {
      width: 100%; }
